html{
    background: linear-gradient(#030026, black);
    background-repeat: no-repeat;
    bacground-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#HomeLogo{
    width: 20 px;
    height: 15px;    
    margin-top: 2px;
    margin-left: 2px;
}

header {
    
    
}
body {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    Line-height: 1.4;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;


}

.header-but {
    background-color: #fff;
    border: 0px;
    
}

